.App {
  text-align: center;
}

.userBody {
  font-size: 50px;
  margin: 10px;
  padding:35px;
}

li {
  border: 5px solid darkgray;
 max-width: 50%;
  margin-bottom: 15px;
  background-color: lightgray;
  border-radius: 10px;
  
 
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header, footer {
  background-color: blue;
  height:100px;
  display:flex;
  justify-content: center;
  align-items: center;
} 